<div class="text-center my-24">
  <h1 class="tracking-tight text-gray-900 sm:text-5xl md:text-6xl">
    <span>Ксения мастер бровист</span><br>
    <span class="text-indigo-600">Rails + ImportMaps + TailwindCSS</span>
  </h1>

  <p class="mt-5 mb-10 text-gray-500 sm:text-lg md:text-xl">Обращайтесь по телфону: 37529-788-02-55!</p>

  <%= image_tag("logo_ksy.png", width: 300) %>
</div>
